@font-face {
  font-family: "SDGothicNeobTTF-fBd";
  src: url("../fonts/SDGothicNeobTTF-fBd.woff2");
}
* {
  font-family: "SDGothicNeobTTF-fBd";
}

.fade-out {
  opacity: 0;
  transform: translateY(20px); /* 아래쪽 위치에서 시작 */
}
.fade-in {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 */
}

.fade-out-right {
  opacity: 0;
  transform: translateX(30px); /* 오른쪽에서 시작 */
}

.fade-in-left {
  opacity: 1;
  transform: translateX(0); /* 원래 자리로 */
}
