.startsocar {
  background-color: #f7f8f9;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  margin-top: 200px;
}
.startsocar > .startsocar__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 1.5;
  color: #aaaaaa;
  text-align: center;
}
.startsocar > .startsocar__skewer {
  height: 100%;
  width: 30%;
  background-color: #00b8ff;
  transform: skew(-30deg);
  position: absolute;
  top: 0px;
  right: -10%;
  transition: all 0.5s;
}
.startsocar > .startsocar__container > span {
  color: #00b8ff;
}
