.form {
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
}
.input {
  border: none;
  outline: none;
}
.eye {
  background-color: transparent;
  border: none;
}

.validation {
  display: flex;
  gap: 10px;
}
.validText {
  font-weight: bold;
  color: #efefef;
}
.pass {
  color: lightgreen;
}
