section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  background-color: skyblue;
  transition: all 1s;
}
.hello {
  font-size: 50px;
  transition: all 1s;
  transform: rotate(45deg);
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
